.farm-container{
    width: 35%;
    height: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    img{
        width: 100%;;
        border-radius: 5px;
    }
    p{
        margin-left: .5rem;
    }
    .farm-name{
        margin-top:1.2rem;
    }
    .farm-address{
        font-size:1.2rem;
        padding: 0;
        margin-top: -15px;
    }
}